#username-page {
    text-align: center;
}
#users {
    width: 270px;
    height: 85vh;
    overflow-y: scroll;
}

#chat-page {
    display: flex;
    flex-direction: row;
}
#chat-section {
    flex-grow: 1;
}
#messages {
    /*display: flex;*/
    /*flex-direction: column;*/
    height: 80vh;
    overflow-y: auto;
}

.message-container {
    min-height: 30px;
    margin: 20px;
}
.hidden {
    /*display: none;*/
    visibility: hidden;
}
#form-msg {
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
}

#input-msg {
    flex-grow: 1;
    border: none;
    background: inherit;
    font-size: 16px;
    padding-left: 20px;
}
#input-msg:focus {
    outline: none;
}

#send-msg-btn {
    border: none;
    background: inherit;
    padding: 10px;
    cursor: pointer;
}
#send-msg-btn img {
    width: 25px;
    height: 25px;
}

.message-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sender {
    font-size: 18px;
    color: dodgerblue;
}
.date {
    color: #ccc;
    font-size: 14px;
}
.message {
    font-size: 18px;
}